.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fill, 11em);
  grid-template-columns: repeat(auto-fill, minmax(15em, 16em));
  box-sizing: border-box;
  justify-content: center;
  @media (max-width: 505px) {
    grid-template-rows: repeat(auto-fill, 13em);
    grid-template-columns: repeat(auto-fill, 20em);
  }
  .link {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    transition: opacity 0.3s;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    &:hover {
      opacity: 1;
    }

    .details {
      color: #fff;
      margin: 0 0.5em;
      font-size: 1.5em;
      transform: scale(1);
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      &::after {
        content: '\f06e';
        margin-left: 0.5em;
        font-family: fontawesome;
      }
    }
  }

  .imgWrapper {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 11px 3px rgb(0 0 0 / 15%);
    border-radius: 10px;
    .imgCard {
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      box-sizing: border-box;
      max-width: 100%;
      vertical-align: middle;
    }
  }
}
